<?xml version="1.0" encoding="utf-8" ?>

<RunSettings>
	<TestRunParameters>
		<Parameter name ="username" value ="admin"/>
		<Parameter name ="password" value ="admin"/>
		<Parameter name ="url" value ="http://localhost:8888/"/>
		<Parameter name ="browser" value="chrome"/>
	</TestRunParameters>
</RunSettings>
